      <nav class="topnav">
        <div class="container-fluid">
          <div class="navbar-header">
              <a class="topnav a" routerLink="/home">Home</a>
              <a class="navbar-brand" routerLink="/documents">Documents</a>
              <a class="navbar-brand" routerLink="/details">Details</a>
              <!-- Testing menue items ...
              <a class="navbar-brand" routerLink="/modal">Modal</a>
              <a class="navbar-brand" routerLink="/dialog">Dialog</a>
              <a class="navbar-brand" routerLink="/chart">Chart</a>
              <a class="navbar-brand" routerLink="/contextMenu">Context Menu</a>
              <a class="navbar-brand" routerLink="/treeView">TreeView</a>
              <a class="navbar-brand" routerLink="/treeGrid">TreeGrid</a>
              -->
          </div>          
        </div>
      </nav>

      