<h4>This is Page-1: simple ag-grid </h4>

<!--   
<div *ngFor="let doc of doc_list; let i=index">  
    {{i + 1}} - {{doc.COMPANYNAME}}
</div>  
-->

<ag-grid-angular style="width: 100%; height: 100%;"
    class="ag-theme-fresh"
    [gridOptions]="gridOptions"
    [domLayout]="autoheight"
    [enableColResize]="true"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowModelType = "infinite"
    [suppressCellSelection]="false"
    
    (gridReady)="onGridReady($event)"
    (rowClicked)="onRowClicked($event)"
    (rowDoubleClicked)="onRowDuobleClicked($event)"
    (rowSelected)="onRowSelected($event)"
    (keypress)="onKeyPress($event)"    
    >
</ag-grid-angular>