<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <div class="container">

        <header>
            <h2>New-Pages Branch</h2>
        </header>
                        
              
        <article>
            <p>
                Any text you want to add to describe the project should be placed here ...
            </p>
            <h3>new Page:</h3>
            <p> or here ...</p>
            <h3>anoter Page:</h3>
            <p> or here ... 
            </p>
        </article>

         
        <footer>Copyright &copy; myCompany.com</footer>

    </div>
</body>


</html>
