<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <div class="container">

        <header>
            <h2>New-Pages Branch</h2>
        </header>
                        
              
        <article>
            <p>
                Project description goes here ...
            </p>
            <h3>Page 1:</h3>
            <p> Page 1 description goes here ...</p>
            <h3>Page 2:</h3>
            <p> Page 2 description goes here ...</p>
            <p> Someone else was here! </p>
        </article>

         
        <footer>Copyright &copy; myCompany.com</footer>

    </div>
</body>


</html>
